.navigation-logo {
  @include font(26px, 700, 31px);
  margin-right: 93px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  letter-spacing: 0.03em;
}
.Studio {
  @include font(26px, 700, 31px);
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.03em;
  color: #000000;
}
.Studio-white {
  @include font(26px, 700, 31px);
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
.blueWeb {
  @include font(26px, 700, 31px);
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.03em;
}
